node_modules/
dist/
.nuxt/
.output/
.data/
coverage/
playwright-report/
test-results/
blob-report/
storybook-static/
.env
.env.*
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
apps/api/storage/
server/node_modules/
server/nodemon.json
server/package-lock.json
server/uploads/*
client/node_modules/
client/package-lock.json
